/*this file is providing by-default style all over the project*/
body {
    font: 1em normal Verdana, Tahoma, sans-serif;
    color: cornflowerblue;
    font-size: 20px;
}

main {

}

ul {
    list-style-type: none;
}

a,
a:visited,
input[type=submit] {
    /* do NOT use blue for this; change the color to fit your theme */
    color: cornflowerblue;

}

a:hover,
a:active,
input[type=submit]:hover,
ul.buttons a:hover {
    /* do NOT use purple for this; change the color to fit your theme */
    color: cadetblue;
    text-decoration: none;
}

h6 a {
    color: grey;
    text-decoration: none;
}

button.registerButton {
    margin-left: 15%;
    height: 10%;
    text-decoration: none;
    font-size: 20px;
    color: cornflowerblue;
}
.likeLine .shareLine{
    display: flex;
    width:150px;
    color: lightseagreen;
}
.likeNumber .shareNumber{
    margin-right: 3px;
}

