/*format for header without user log in*/
header {
    border-bottom-style: groove;
    border-color: whitesmoke;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

#subHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#leftHeader {
    margin-left: 20px;
    margin-top: 30px;
}

#logo a img {
    width: 80%;
    height: 80%;
}

#midHeader {
    margin-right: 50px;
}

#midHeader a {
    font-family: Symbol, monospace;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#searchBar {
    width: 80%;
    height: 30px;
    border: solid darkgrey 2px;
    border-radius: 3px;
}

#rightHeader {
    margin-top: 50px;
    margin-right: 40px;
}

form#login-box {
    width: 200px;
}

form {
    font-size: 18px;
}

form input {
    margin-top: 3%;
}

ul#menu.ul {
    clear: left;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

ul#menu li {
    float: left;
}

ul#menu li a {
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
}

ul#menu li a:hover {
    background-color: dodgerblue;
}

ul#menu li a.selected {
    background-color: steelblue;
}

@media all and (min-width: 768px) {

    #midHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #midHeader a {
        font-size: 50px;
    }

    #logo a img {
        width: 300px;
        height: 150px;
    }

    ul#menu li a {
        display: block;
        text-align: center;
        padding: 14px 95px;
        text-decoration: none;
        background-color: cornflowerblue;
        color: white;
    }
}
