/*this stylesheet is for the main content in home_without_login.html*/
section {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 5%;
    font-size: 30px;
}

#homePageImage a img {
    width: 300px;
    height: 300px;
}

ul#feature-tab.ul {
    clear: left;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

ul#feature-tab li {
    float: left;
}

#feature-tab li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: lightseagreen;
    color: white;
    border-radius: 23px;
    margin-left: 4px;
}

#feature-tab li a.selected {
    background-color: seagreen;
}

#homeBoxes {
    display: flex;
    padding: 1% 1%;
    margin-left: 3%;
    justify-content: flex-start;
    width: 90%;
    border-style: groove;
    border-color: whitesmoke;
    border-width: 2px;
}

#eventInfoAndButton {
    display: flex;
    flex-direction: column;
}

.eventInfo li {
    margin-bottom: 5px;
}

.eventTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}


.attendees {
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    color: lightseagreen;
    flex-direction: row;
    justify-content: space-between;
}

button {
    margin-top: 10%;
    margin-left: 15%;
    height: 10%;
}

button a {
    text-decoration: none;
    font-size: 20px;
}

.eventButton {
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    justify-content: space-between;
}

.eventButton a img {
    width: 50px;
    height: 50px;
}

@media all and (min-width: 768px) {
    h1 {
        margin-left: 5%;
        font-size: 40px;
    }

    #homePageImage a img {
        width: 500px;
        height: 500px;
    }

    .eventTitle {
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 10px;
    }


}




