/*this stylesheet is for the main content in item_with_details.html*/
#mainContent {
    display: flex;
    flex-direction: column;
}

#eventBlock {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 2%;
}

#eventPart1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#eventBlock a img {
    width: 300px;
    height: 300px;
}

.eventTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.attendees {
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    color: lightseagreen;
    flex-direction: row;
    justify-content: space-between;
}

button {
    margin-left: 15%;
    height: 10%;
}

button a {
    text-decoration: none;
    font-size: 15px;
}

#eventButtonInEventPage {
    margin-top: 5%;
    margin-left: 15%;
}

#eventButtonInEventPage a img {
    width: 50px;
    height: 50px;
    margin-left: 3%;
}

#eventDescription {
    display: flex;
    flex-direction: column;
}

#description {
    font-size: medium;
    line-height: 1.6;
    padding: 1em;
}

#attendees {
    float: left;
    background-color: lightgoldenrodyellow;
    margin-right: 5%;
}

#attendees h5 {
    margin-left: 10%;
}

.attendeeBlock {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.attendImage img {
    width: 100px;
    height: 100px;
}

.attendeeBlock p {
    font-size: small;
    color: grey;
}

#recentPhotosBlock {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    width: 60%;
}

.feedImage img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
}

#recentPhotos h5 {
    margin-left: 3%;
}

@media all and (min-width: 768px) {
    #mainContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #eventBlock {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 3%;
        margin-top: 2%;
    }

    .eventTitle {
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 10px;
    }

    #eventButtonInEventPage a img {
        width: 50px;
        height: 50px;
        margin-left: 3%;
    }

    #attendees {
        float: left;
        width: 35%;
        background-color: lightgoldenrodyellow;
        margin-right: 5%;
    }
}
