#search-page-title{
    margin-left: 10%;
}
#search-result{
    margin-left: 5%;
}
#homeBoxes {
    display: flex;
    padding: 1% 1%;
    margin-left: 3%;
    justify-content: flex-start;
    width: 90%;
    border-style: groove;
    border-color: whitesmoke;
    border-width: 2px;
}

#homePageImage a img {
    width: 300px;
    height: 300px;
}

#eventInfoAndButton {
    display: flex;
    flex-direction: column;
}

.eventInfo li {
    margin-bottom: 5px;
}
